<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zz.dgcc.DGIOT.mapper.DeviceMapper">
    <resultMap id="DeviceResultMap" type="cn.zz.dgcc.DGIOT.entity.Device">
        <result column="user_id" property="userId"/>
        <result column="product_name" property="productName"/>
        <result column="product_key" property="productKey"/>
        <result column="device_name" property="deviceName"/>
        <result column="device_status" property="deviceStatus"/>
        <result column="device_secret" property="deviceSecret"/>
        <result column="device_nick_name" property="deviceNickName"/>
        <result column="device_ipAddress" property="deviceIpAddress"/>

        <result column="is_used" property="isUsed"/>
        <result column="Dev_Id" property="DevId"/>
        <result column="Dtu_id" property="DtuId"/>
        <result column="devNote" property="devNote"/>
        <result column="devBH" property="devBH"/>
        <result column="devZH" property="devZH"/>
        <result column="type" property="type"/>
        <result column="bus_type" property="busType"/>
        <result column="cc_id" property="ccId"/>
        <result column="dev_ver" property="devVersion"/>
        <result column="dtu_ver" property="dtuVersion"/>
        <result column="iot_id" property="iotId"/>
    </resultMap>

    <select id="selectCountByStatusAndType" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM
            iot_device_list
        WHERE
            device_status = "ONLINE" AND type = #{type}
    </select>

    <select id="selectCountByStatus" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM
            iot_device_list
        WHERE
            device_status = "ONLINE"
    </select>

    <select id="selectAllQT" resultMap="DeviceResultMap">
        SELECT
            *
        FROM
            iot_device_list
        WHERE
            type = 2
    </select>

    <select id="selectAll" resultMap="DeviceResultMap">
        SELECT
            *
        FROM
            iot_device_list
    </select>

    <select id="selectN2DevByUserId" resultMap="DeviceResultMap">
        SELECT
            *
        FROM
            iot_device_list
        WHERE
            type = 5 AND user_id = #{userId}
        LIMIT 1
    </select>


    <select id="selectN2Dev" resultMap="DeviceResultMap">
        SELECT
            *
        FROM
            iot_device_list
        WHERE
            type = 5
        LIMIT 1
    </select>

    <select id="selectDevByBHAndZH" resultMap="DeviceResultMap">
        SELECT
            *
        FROM
            iot_device_list
        WHERE
            devBH = #{devBH} AND devZH = #{devZH} AND type = #{type}
    </select>

    <select id="selectCountByType" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM
            iot_device_list
        WHERE
            product_key = #{productKey}
    </select>

    <select id="selectX" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM
            iot_device_list
    </select>

    <update id="updateCC">
         UPDATE
            iot_device_list
        SET
            cc_id = #{ccId}
        WHERE
            devNote=#{devNote} AND
            devBH=#{devBH} AND devZH=#{devZH} AND
            bus_type=#{busType} AND type =#{type}
    </update>

    <update id="updataDtuVersion">
        UPDATE
            iot_device_list
        SET
            dtu_ver = #{dtuVersion}
        WHERE
            devNote=#{devNote} AND
            devBH=#{devBH} AND devZH=#{devZH} AND
            bus_type=#{busType} AND type =#{type}
    </update>

    <update id="updataDevVersion">
        UPDATE
            iot_device_list
        SET
            dev_ver = #{devVersion}
        WHERE
            devNote=#{devNote} AND
            devBH=#{devBH} AND devZH=#{devZH} AND
            bus_type=#{busType} AND type =#{type}
    </update>

    <update id="resetDevInfoByDtuId">
        UPDATE
            iot_device_list
        SET
            is_used = 0,Dev_Id = null,
            Dtu_id = null,devNote = null,
            devBH = null,devZH = null,
            bus_type = null
        WHERE
            Dtu_id = #{DtuId}
    </update>

    <update id="resetDevInfoByDevId">
        UPDATE
            iot_device_list
        SET
            is_used = 0,Dev_Id = null,
            Dtu_id = null,devNote = null,
            devBH = null,devZH = null,
            bus_type = null
        WHERE
            Dev_Id = #{DevId}
    </update>

    <update id="resetDtuId">
        UPDATE
            iot_device_list
        SET
            Dtu_id = null
        WHERE
            Dtu_id = #{DtuId}
    </update>

    <update id="updataDeviceInfoByDS" parameterType="cn.zz.dgcc.DGIOT.entity.Device">
        UPDATE
            iot_device_list
        SET
            is_used = 1,Dev_Id =#{DevId},
            Dtu_id=#{DtuId},devNote=#{devNote},
            devBH=#{devBH},devZH=#{devZH},
            bus_type=#{busType},cc_id=#{ccId},dev_ver=#{devVersion},dtu_ver =#{dtuVersion}
        WHERE
            device_secret = #{deviceSecret}
    </update>

    <update id="updateIotId" parameterType="cn.zz.dgcc.DGIOT.entity.Device">
        UPDATE
             iot_device_list
        SET
            iot_id = #{iotId}
        WHERE
            device_secret = #{deviceSecret}
    </update>

    <update id="updateDevStatus" parameterType="cn.zz.dgcc.DGIOT.entity.Device">
        UPDATE
             iot_device_list
        SET
            device_status = #{deviceStatus}
        WHERE
            device_secret = #{deviceSecret}
    </update>

    <update id="updataDeviceInfoByDevInfo" parameterType="cn.zz.dgcc.DGIOT.entity.Device">
        UPDATE
            iot_device_list
        SET
            is_used = 1,Dev_Id =#{DevId},
            Dtu_id=#{DtuId},devNote=#{devNote},
            devBH=#{devBH},devZH=#{devZH},
            bus_type=#{busType},cc_id=#{ccId},dev_ver=#{devVersion},dtu_ver =#{dtuVersion}
        WHERE
            devNote=#{devNote} AND devBH=#{devBH} AND devZH=#{devZH} AND bus_type=#{busType} AND type = #{type}
    </update>

    <update id="updateCidByDevInfo" parameterType="cn.zz.dgcc.DGIOT.entity.Device">
        UPDATE
            iot_device_list
        SET
            user_id = #{cid}
        WHERE device_name LIKE concat(#{deviceNameSuf},'%')
    </update>

    <select id="selectQTDevByBHAndZHAndCompany" resultType="java.lang.String">
        SELECT
            device_secret
        FROM
            iot_device_list
        WHERE
            devBH=#{devBH} AND devZH=#{devZH} AND type =#{type} AND user_id = #{companyId}
    </select>

    <select id="selectCountDevByDevInfoAndCCid" resultType="java.lang.Integer"
            parameterType="cn.zz.dgcc.DGIOT.entity.Device">
        SELECT
            count(*)
        FROM
            iot_device_list
        WHERE
            devNote=#{devNote} AND
            devBH=#{devBH} AND devZH=#{devZH} AND
            bus_type=#{busType} AND type =#{type} AND cc_id = #{ccId}
    </select>

    <select id="selectFirewareByDevName" resultType="java.lang.String"
            parameterType="cn.zz.dgcc.DGIOT.entity.Device">
        SELECT
            dev_ver
        FROM
            iot_device_list
        WHERE
            device_name = #{devName}
    </select>

    <select id="selectCountDevByDevInfoWWithoutDevAndDtu" resultType="java.lang.Integer"
            parameterType="cn.zz.dgcc.DGIOT.entity.Device">
        SELECT
            count(*)
        FROM
            iot_device_list
        WHERE
            devNote=#{devNote} AND
            devBH=#{devBH} AND devZH=#{devZH} AND
            bus_type=#{busType} AND type =#{type}
    </select>

    <select id="selectDevByUpInfo" resultMap="DeviceResultMap" parameterType="cn.zz.dgcc.DGIOT.entity.Device">
        SELECT
            count(*)
        FROM
            iot_device_list
        WHERE
            devNote=#{devNote} AND
            devBH=#{devBH} AND devZH=#{devZH} AND
            bus_type=#{busType} AND type =#{type}
    </select>

    <select id="selectCountDevByDevInfo" resultType="java.lang.Integer" parameterType="cn.zz.dgcc.DGIOT.entity.Device">
        SELECT
            count(*)
        FROM
            iot_device_list
        WHERE
            devNote=#{devNote} AND
            devBH=#{devBH} AND devZH=#{devZH} AND
            bus_type=#{busType} AND type =#{type}
    </select>

    <select id="selectCountDevByDevAndDtu" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM
            iot_device_list
        WHERE
            Dtu_id = #{dtuId} AND Dev_Id = #{devId}
    </select>

    <select id="selectDevByDevInfo" resultMap="DeviceResultMap" parameterType="cn.zz.dgcc.DGIOT.entity.Device">
        SELECT
            *
        FROM
            iot_device_list
        WHERE
            devNote=#{devNote} AND
            devBH=#{devBH} AND devZH=#{devZH} AND
            bus_type=#{busType} AND type =#{type}
    </select>

    <select id="selectDevByDevAndDtu" resultMap="DeviceResultMap">
        SELECT
            *
        FROM
            iot_device_list
        WHERE
            Dtu_id = #{dtuId} AND Dev_Id = #{devId}
    </select>

    <select id="selectDevByTypeAndProject" resultMap="DeviceResultMap">
        SELECT
            *
        FROM
            iot_device_list
        WHERE
            type = #{type} AND is_used = 1 AND user_id = #{userId}
        ORDER BY
            device_name
    </select>

    <select id="selectNoUsedDevByTypeAndProject" resultMap="DeviceResultMap">
        SELECT
            *
        FROM
            iot_device_list
        WHERE
            type = #{type} AND is_used = 0 AND user_id = #{userId}
        ORDER BY
            device_name
    </select>

    <select id="selectNoUsedDevByType" resultMap="DeviceResultMap">
        SELECT
            *
        FROM
            iot_device_list
        WHERE
            type = #{type} AND is_used = 0
        ORDER BY
            device_name
    </select>

    <select id="selectDevByDevName" resultMap="DeviceResultMap">
        SELECT
            *
        FROM
            iot_device_list
        WHERE
            device_name = #{devName}
    </select>


    <select id="selectDevByType" resultMap="DeviceResultMap">
        SELECT
            *
        FROM
            iot_device_list
        WHERE
            type = #{type}
        ORDER BY
            device_name
    </select>

    <select id="selectDevByDS" resultMap="DeviceResultMap">
        SELECT
            *
        FROM
            iot_device_list
        WHERE
            device_secret = #{devSecret}
    </select>

    <select id="selectDevByDev" resultMap="DeviceResultMap">
        SELECT
            *
        FROM
            iot_device_list
        WHERE
            Dev_Id = #{DevId}
    </select>


    <select id="selectDevByDtu" resultMap="DeviceResultMap">
        SELECT
            *
        FROM
            iot_device_list
        WHERE
            Dtu_id = #{dtuId}
    </select>


    <insert id="insertDevice" parameterType="cn.zz.dgcc.DGIOT.entity.Device">
         insert into
            iot_device_list
            (user_id,  product_name,
            product_key,device_name,device_status,
            device_secret,device_nick_name,device_ipAddress)
         values
           (#{userId}, #{productName},
            #{productKey},#{productSecret},#{deviceName},#{deviceStatus},
            #{deviceSecret},#{deviceNickName},#{deviceIpAddress})
    </insert>


    <insert id="insertDeviceList" parameterType="java.util.List" useGeneratedKeys="false">
        INSERT ignore
        INTO iot_device_list
        (user_id,product_name,
        product_key,
        device_name,device_status,
        device_secret,device_nick_name,
        device_ipAddress,type,iot_id)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.userId},
            #{item.productName},
            #{item.productKey},
            #{item.deviceName},
            #{item.deviceStatus},
            #{item.deviceSecret},
            #{item.deviceNickName},
            #{item.deviceIpAddress},
            #{item.type},
            #{item.iotId}
            )
        </foreach>
    </insert>


    <select id="selectDevByDevNameInfo" resultMap="DeviceResultMap">
        SELECT
            *
        FROM
            iot_device_list
        WHERE
            device_name like concat('%',#{str},'%') AND device_status &lt;&gt; 'UNACTIVE'
    </select>


    <select id="selectAllActive" resultMap="DeviceResultMap">
        SELECT
            *
        FROM
            iot_device_list
        WHERE   device_status &lt;&gt; 'UNACTIVE'
        ORDER BY device_name ASC
    </select>

    <select id="selectAllActiveWithLimit" resultMap="DeviceResultMap">
        SELECT
            *
        FROM
            iot_device_list
        WHERE   device_status &lt;&gt; 'UNACTIVE'
        LIMIT #{page},#{limit};
        ORDER BY device_name
    </select>


</mapper>