<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zz.dgcc.DGIOT.mapper.FirewareMapper">
    <select id="selectFirewareVersion" resultType="cn.zz.dgcc.DGIOT.entity.Fireware">
            SELECT
                *
            FROM
                fireware_ver
            WHERE
                version = #{version}
    </select>
    <insert id="addNewVersion" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            fireware_ver
            (version,path)
            VALUES (#{version},#{path})
    </insert>
</mapper>