<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zz.dgcc.DGIOT.mapper.N2Mapper">
    <resultMap id="N2ResultMap" type="cn.zz.dgcc.DGIOT.entity.N2">
        <result column="id" property="id"/>
        <result column="dev_name" property="devName"/>
        <result column="rec_time" property="recivedTime"/>
        <result column="content" property="content"/>
        <result column="msg_id" property="msgId"/>
        <result column="n2dev_action" property="n2devAction"/>
        <result column="batch_id" property="batchId"/>
    </resultMap>

    <select id="selectNewInfo" resultMap="N2ResultMap">
        SELECT
            *
        FROM
            n2
        ORDER BY
            id
        DESC
            LIMIT 1
    </select>

    <select id="selectNewInfoByDevName2" resultMap="N2ResultMap">
        SELECT
            *
        FROM
            n2
        WHERE
            dev_name = #{devName} AND n2dev_action = #{type}
        ORDER BY
            id
        DESC
            LIMIT 1
    </select>

    <select id="selectNewInfoByDevName" resultMap="N2ResultMap">
        SELECT
            *
        FROM
            n2
        WHERE
            dev_name = #{devName}
        ORDER BY
            id
        DESC
            LIMIT 1
    </select>

        <select id="selectInfoByMsgId" resultMap="N2ResultMap">
            SELECT
                *
            FROM
                n2
            WHERE
                msg_id = #{msgId}
        </select>

    <insert id="insert" parameterType="cn.zz.dgcc.DGIOT.entity.N2" useGeneratedKeys="true" keyProperty="id">
        INSERT  INTO
            n2
            (dev_name,rec_time,content,msg_id,batch_id)
        VALUES
            (#{devName},#{recivedTime},#{content},#{msgId},#{batchId})
    </insert>


    <select id="getAll" resultMap="N2ResultMap">
        SELECT
            *
        FROM
            n2
    </select>


</mapper>