
/* CSS Document */

.cm-center {width:80%; margin:0px auto;}
.cm-header {height:100px;}
.cm-header .logos {padding-top:12px;}
.cm-header .logos .logo {width:245px; height:70px; background:url("../img/logo.jpg") no-repeat; cursor:pointer;}
.cm-header .lines {padding-top:10px; padding-left:20px; padding-right:20px;}
.cm-header .lines .line {width:3px; height:70px; background:url("../img/logo_line.jpg") no-repeat; font-size:1px;}
.cm-header .sublogo {padding-top:30px; font-size:24px; color:#f60;}
.cm-header .piclogo {padding-top:25px;}
.cm-header .menuinfo {padding-top:22px; *padding-top:26px; _padding-top:28px;}
.cm-header .topmenus {text-align:right;}
.cm-header .topmenus .mline {padding-left:10px; padding-right:10px; color:#ccc; font-size:12px;}
.cm-header .topmenus .menu {font-size:12px;}
.cm-header .topmenus .menu a {font-size:12px; color:#000;}
.cm-header .topmenus .menu a:hover {color:#f90;}
.cm-header .topinfos {text-align:right; padding-top:30px;}
.cm-header .topinfos .mline {padding-left:10px; padding-right:10px; color:#ccc; font-size:14px;}
.cm-header .topinfos .menu {font-size:18px;}
.cm-header .topinfos .menu a {font-size:18px;}
.cm-header .topinfos .menu a:hover {}

.cm-lines {background:#06acef; height:3px; font-size:1px;}

.cm-menus {background:#06acef; height:46px;}
.cm-menus .menus .menu {height:46px; background:#06acef;}
.cm-menus .menus .menu:hover {background:#89dafc;}
.cm-menus .menus .menu .mtext {padding-top:12px; padding-left:15px; padding-right:15px; text-align:center;}
.cm-menus .menus .menu .mtext a {color:#fff;font-size:15px;}
.cm-menus .menus .menu .mtext a:hover {color:#fff;}
.cm-menus .menus .on {height:46px; background:#0575bd;}
.cm-menus .menus .on .mtext {padding-top:12px; padding-left:15px; padding-right:15px; text-align:center;}
.cm-menus .menus .on .mtext a {color:#fff;font-size:15px;}
.cm-menus .menus .on .mtext a:hover {color:#fff;}

.cm-sitemap {height:46px; line-height:46px;}
.cm-sitemap .navinfo {font-size:12px; color:#999;}
.cm-sitemap .navinfo a {}
.cm-sitemap .navinfo a:hover {}
.cm-sitemap .search {padding-top:0px; *padding-top:1px; _padding-top:10px; font-size:12px;}
.cm-sitemap .search .sdate {border:1px solid #ccc; font-size:12px; width:90px; padding:2px; *padding:2px; _padding:3px;}
.cm-sitemap .search .sinput {border:1px solid #ccc; font-size:12px; width:120px; padding:2px; *padding:2px; _padding:3px;}
.cm-sitemap .search .sbtn {border:1px solid #ccc; font-size:12px; width:50px; padding:2px; *padding:0px;}

.cm-fullpage {background:#fff url(../images/background.png) repeat-x;}

.cm-page-center {width: 100%;}
.cm-pagebody {width: 100%}
.cm-pagebody .leftbody {width:225px;}
.cm-pagebody .leftbody .titlediv {background:#07acee; height:39px; padding-left:15px; padding-right:15px; border:1px solid #07acee;}
.cm-pagebody .leftbody .titlediv .tname {padding-top:8px; font-size:18px; font-weight:bold; color:#fff;}
.cm-pagebody .leftbody .titlediv .tlink {padding-top:10px; font-size:12px; color:#fff;}
.cm-pagebody .leftbody .titlediv .tlink a {color:#fff;}
.cm-pagebody .leftbody .menusdiv {border-left:1px solid #e3e3e3; border-right:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3;}
.cm-pagebody .leftbody .menusdiv .padding {padding:15px; background:#fff;}
.cm-pagebody .leftbody .menusdiv .menu {line-height:34px;}
.cm-pagebody .leftbody .menusdiv .menu:hover {background:#d0f3ff;}
.cm-pagebody .leftbody .menusdiv .menu .icos {padding-top:10px; padding-left:4px; padding-right:6px;}
.cm-pagebody .leftbody .menusdiv .menu .icos .ico {width:12px; height:12px; background:url("/images/background.png") no-repeat;}
.cm-pagebody .leftbody .menusdiv .menu .mtext {font-size:22px;}
.cm-pagebody .leftbody .menusdiv .menu .mtext a {color:#000;}
.cm-pagebody .leftbody .menusdiv .menu .mtext a:hover {color:#f60;}
.cm-pagebody .leftbody .menusdiv .submenus {padding-left:18px; padding-top:3px; padding-bottom:3px;}
.cm-pagebody .leftbody .menusdiv .submenu {line-height:30px;}
.cm-pagebody .leftbody .menusdiv .submenu:hover {background:#d0f3ff;}
.cm-pagebody .leftbody .menusdiv .submenu .icos {padding-top:7px; padding-left:4px; padding-right:6px;}
.cm-pagebody .leftbody .menusdiv .submenu .icos .ico {width:12px; height:12px; background:url("/images/background.png") no-repeat;}
.cm-pagebody .leftbody .menusdiv .submenu .mtext {font-size:18px;}
.cm-pagebody .leftbody .menusdiv .submenu .mtext a {color:#08f;}
.cm-pagebody .leftbody .menusdiv .submenu .mtext a:hover {color:#f60;}
.cm-pagebody .rightbody {width:960px; }
.cm-pagebody .rightbody .titlediv {background:#f7f7f7; height:38px; padding-left:20px; border:1px solid #f7f7f7;}
.cm-pagebody .rightbody .titlediv .tname {line-height:38px; font-size:16px; color:#333;}
.cm-pagebody .rightbody .titlediv .tsplit {padding-left:10px; padding-right:10px; padding-top:10px; font-size:12px; color:#999;}
.cm-pagebody .rightbody .titlediv .tlink {padding-top:10px; font-size:12px; color:#666;}
.cm-pagebody .rightbody .titlediv .tlink a {color:#08f;}
.cm-pagebody .rightbody .titlediv .tlink a:hover {color:#f90;}
.cm-pagebody .rightbody .bodydiv {border-left:1px solid #e3e3e3; border-right:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; background:#fff;}
.cm-pagebody .rightbody .bodydiv .padding {padding:20px;}
.cm-pagebody .rightbody .bodydiv2 {border:1px solid #e3e3e3;}
.cm-pagebody .rightbody .bodydiv2 .padding {padding:10px; background:#fff;}

.cm-pagebody .nodata {font-size:14px; color:#666;}
.cm-pagebody .bigtitle {line-height:30px; font-size:20px; font-weight:bold; color:#000;}
.cm-pagebody .infotext {line-height:24px; font-size:12px; color:#333;}
.cm-pagebody .infomemo {line-height:24px; font-size:12px; color:#999;}

.cm-pagebody .tabpage1 {height:30px; background:url(../img/tabpage1.png) 0px -120px repeat-x;}
.cm-pagebody .tabpage1 .tabsplit {width:3px; font-size:1px;}
.cm-pagebody .tabpage1 .ctab {cursor:pointer;}
.cm-pagebody .tabpage1 .ctab .left {width:10px; height:30px; background:url(../img/tabpage1.png) 0px 0px no-repeat;}
.cm-pagebody .tabpage1 .ctab .center {height:30px; padding-left:15px; padding-right:15px; background:url(../img/tabpage1.png) 0px -60px repeat-x;}
.cm-pagebody .tabpage1 .ctab .center .text {padding-top:7px; font-size:13px; font-weight:bold; color:#0e2d5f;}
.cm-pagebody .tabpage1 .ctab .center .text a {color:#000;}
.cm-pagebody .tabpage1 .ctab .center .text a:hover {color:#000;}
.cm-pagebody .tabpage1 .ctab .right {width:10px; height:30px; background:url(../img/tabpage1.png) 0px -30px no-repeat;}
.cm-pagebody .tabpage1 .tab {cursor:pointer;}
.cm-pagebody .tabpage1 .tab .left {width:10px; height:30px; background:url(../img/tabpage1.png) -10px 0px no-repeat;}
.cm-pagebody .tabpage1 .tab .center {height:30px; padding-left:10px; padding-right:10px; background:url(../img/tabpage1.png) 0px -90px repeat-x;}
.cm-pagebody .tabpage1 .tab .center .text {padding-top:6px; font-size:13px; color:#007297;}
.cm-pagebody .tabpage1 .tab .center .text a {color:#333;}
.cm-pagebody .tabpage1 .tab .center .text a:hover {color:#f90;}
.cm-pagebody .tabpage1 .tab .right {width:10px; height:30px; background:url(../img/tabpage1.png) -10px -30px no-repeat;}

.cm-pagebody .tabpage2 {height:40px; background:url(../img/tabpage2.png) 0px -160px repeat-x;}
.cm-pagebody .tabpage2 .tabsplit {width:3px; font-size:1px;}
.cm-pagebody .tabpage2 .ctab {cursor:pointer;}
.cm-pagebody .tabpage2 .ctab .left {width:10px; height:40px; background:url(../img/tabpage2.png) 0px 0px no-repeat;}
.cm-pagebody .tabpage2 .ctab .center {height:40px; padding-left:15px; padding-right:15px; background:url(../img/tabpage2.png) 0px -80px repeat-x;}
.cm-pagebody .tabpage2 .ctab .center .text {padding-top:11px; font-size:14px; color:#000;}
.cm-pagebody .tabpage2 .ctab .center .text a {color:#000;}
.cm-pagebody .tabpage2 .ctab .center .text a:hover {color:#000;}
.cm-pagebody .tabpage2 .ctab .right {width:10px; height:40px; background:url(../img/tabpage2.png) 0px -40px no-repeat;}
.cm-pagebody .tabpage2 .tab {cursor:pointer;}
.cm-pagebody .tabpage2 .tab .left {width:10px; height:40px; background:url(../img/tabpage2.png) -10px 0px no-repeat;}
.cm-pagebody .tabpage2 .tab .center {height:40px; padding-left:15px; padding-right:15px; background:url(../img/tabpage2.png) 0px -120px repeat-x;}
.cm-pagebody .tabpage2 .tab .center .text {padding-top:11px; font-size:14px; color:#666;}
.cm-pagebody .tabpage2 .tab .center .text a {color:#666;}
.cm-pagebody .tabpage2 .tab .center .text a:hover {color:#f90;}
.cm-pagebody .tabpage2 .tab .right {width:10px; height:40px; background:url(../img/tabpage2.png) -10px -40px no-repeat;}
.cm-pagebody .tabpage2 .link {padding-top:10px; font-size:14px; color:#999;}
.cm-pagebody .tabpage2 .link a {color:#08f; font-weight:bold;}
.cm-pagebody .tabpage2 .link a:hover {color:#f60; text-decoration:underline;}

.cm-pagebody .topiclist {padding-top:5px; padding-bottom:5px;}
.cm-pagebody .topiclist .line {border-top:1px dotted #ccc;}
.cm-pagebody .topiclist .topicrow {line-height:34px; border-top:1px dotted #ccc;}
.cm-pagebody .topiclist .topicrow:hover {background:#f6f6f6;}
.cm-pagebody .topiclist .topicrow .icos {padding-top:11px; padding-right:5px; _padding-top:10px;}
.cm-pagebody .topiclist .topicrow .icos .ico {width:12px; height:12px; background:url(/images/background.png) no-repeat;}
.cm-pagebody .topiclist .topicrow .link {font-size:12px;}
.cm-pagebody .topiclist .topicrow .link a {color:#000;}
.cm-pagebody .topiclist .topicrow .link a:hover {color:#f60;}
.cm-pagebody .topiclist .topicrow .edit {padding-right:20px; font-size:12px;}
.cm-pagebody .topiclist .topicrow .date {font-size:12px; color:#999;}

.cm-pagebody .listtable {background:#ddd; width:100%; *width:918px; _width:918px;}
.cm-pagebody .listtable tr {height:32px; line-height:32px; background:#fff;}
.cm-pagebody .listtable td {font-size:12px; padding-left:4px; padding-right:4px;}
.cm-pagebody .listtable .header {background:#eee;}
.cm-pagebody .listtable .left {text-align:left;}
.cm-pagebody .listtable .center {text-align:center;}
.cm-pagebody .listtable .right {text-align:center;}
.cm-pagebody .listtable .trow {background:#fff;}
.cm-pagebody .listtable .trow:hover {background:#f6f6f6;}
.cm-pagebody .listtable .trow .tno {}
.cm-pagebody .listtable .trow .ttext {}
.cm-pagebody .listtable .trow .ttext a {color:#000;}
.cm-pagebody .listtable .trow .ttext a:hover {color:#f60;}
.cm-pagebody .listtable .trow .tlink {}
.cm-pagebody .listtable .trow .tdate {color:#999;}

.cm-pagebody .piclist {padding-top:5px; padding-bottom:5px;}
.cm-pagebody .piclist .pics {width:229px; height:200px; overflow:hidden;}
.cm-pagebody .piclist .pics .picbox {padding-left:15px; padding-right:14px;}
.cm-pagebody .piclist .pics .picbox .imgbox {width:200px; height:150px; overflow:hidden;}
.cm-pagebody .piclist .pics .picbox .imgbox .img {width:200px; height:150px; background:#666; cursor:pointer; overflow:hidden;}
.cm-pagebody .piclist .pics .picbox .imgbox .img img {display:block;}
.cm-pagebody .piclist .pics .linkbtn {padding-top:10px; padding-left:15px; padding-right:14px; text-align:center; font-size:12px;}
.cm-pagebody .piclist .pics .linkbtn a {color:#333;}
.cm-pagebody .piclist .pics .linkbtn a:hover {color:#f60;}
.cm-pagebody .piclist .pics .picmanagebg {position:relative; top:-30px; line-height:30px; background:#000; filter:alpha(opacity=40); -moz-opacity:0.4; -khtml-opacity:0.4; opacity:0.4;}
.cm-pagebody .piclist .pics .picmanage {position:relative; top:-60px; line-height:30px; text-align:center; font-size:12px; color:#fff;}
.cm-pagebody .piclist .pics .picmanage a {color:#fff;}
.cm-pagebody .piclist .pics .picmanage a:hover {color:#f60;}

.cm-pagebody .itemlist {}
.cm-pagebody .itemlist .item {line-height:32px;}
.cm-pagebody .itemlist .item:hover {background:#d0f3ff;}
.cm-pagebody .itemlist .item .icos {padding-top:10px; padding-left:4px; padding-right:6px;}
.cm-pagebody .itemlist .item .icos .ico {width:12px; height:12px; background:url("/images/background.png") no-repeat;}
.cm-pagebody .itemlist .item .mtext {font-size:14px;}
.cm-pagebody .itemlist .item .mtext a {color:#08f;}
.cm-pagebody .itemlist .item .mtext a:hover {color:#f60;}

.cm-pagebody .dtree {color:#333; white-space:nowrap;}
.cm-pagebody .dtree img {border:0px; vertical-align:middle;}
.cm-pagebody .dtree a {border:0px; color:#333; font-size:12px; text-decoration:none;}
.cm-pagebody .dtree a.node,.dtree a.nodeSel {white-space:nowrap; padding-top:1px; padding-bottom:1px; padding-left:2px; padding-right:2px;}
.cm-pagebody .dtree a.node:hover,.dtree a.nodeSel:hover {color:#333; text-decoration:underline;}
.cm-pagebody .dtree a.nodeSel {color:#f60;}
.cm-pagebody .dtree .dTreeNode {height:24px; font-size:12px; line-height:20px;}
.cm-pagebody .dtree .clip {overflow:hidden;}

.cm-pagebody .splitpage {text-align:center;padding-top:12px; padding-bottom:12px; width:700px; margin:0 auto; font-size:12px;}
.cm-pagebody .splitpage a {width:26px; height:26px; background:#fff; border:1px solid #c1c1c1; display:block; display:inline-block; text-align:center; line-height:26px; margin-right:10px; color:#666;}
.cm-pagebody .splitpage a:hover {background:#d0f3ff; color:#333;}
.cm-pagebody .splitpage a.width {width:60px;}
.cm-pagebody .splitpage a.curr {background:#eee; color:#000;}

.cm-footer {border-top:2px solid #aee6fd; background:#f3f3f3; height:150px;}
.copyright {padding-top:30px;}
.copyright .crrow {text-align: center; font-size:12px; line-height:25px; color:#666;}

.errorpage { width: 650px; margin: 0 auto;}
.errorpage .height5 { height:5px;}
.errorpage .height { height: 10px;}
.errorpage .height20 { height: 20px;}
.errorpage .mainleft{ width: 150px;}
.errorpage .mainright{ width:500px; height: 200px;}
.errorpage .mainright .titles{ line-height:25px;}
.errorpage .mainright .titles .title{ font-size:20px; font-weight: 800; padding-bottom:10px; }
.errorpage .mainright .contents{ line-height: 22px;}
.errorpage .mainright .contents .title{color: #666; font-size: 12px;}
.errorpage .mainright .contents .distance { font-size: 12px;}
.errorpage .mainright .contents .distance a { margin-left: 5px;}

