<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<link th:href="@{../css/layui.css}" rel="stylesheet" type="text/css"/>
<script type="text/javascript" th:src="@{../layui/layui.js}"></script>
<script type="text/javascript" th:src="@{../jquery-3.4.1.min.js}"></script>
<body>
<div class="layui-card">
    <div class="layui-card-header">固件升级</div>
    <div class="layui-card-body">
        <div>
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">设备</label>
                    <div class="layui-input-block">
                        <input type="text" id="devName" name="dev" required lay-verify="required" placeholder="请输入标题"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">选择框</label>
                    <div class="layui-input-block">
                        <select id="fireware" name="version" lay-verify="required">
                            <option value=""></option>
                            <option value="0">北京</option>
                            <option value="1">上海</option>
                            <option value="2">广州</option>
                            <option value="3">深圳</option>
                            <option value="4">杭州</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:inline="none" type="text/javascript">
    var data;
    var form = layui.form;
    //Demo
    layui.use('form', function () {
        var form = layui.form;
        //监听提交
        form.on('submit(formDemo)', function (data) {
            var index = parent.layer.getFrameIndex(window.name);

            layer.confirm('确认进行固件升级？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                $.ajax({
                    url: "updata",
                    data: data.field,
                    type: "post",
                    dataType: "json",
                    success: function () {

                    }
                })
                // return false;
                parent.layer.close(index)
                parent.layer.load(1,{time:2000})

            }, function () {
                layer.msg('固件升级已取消', {
                    time: 2000, //20s后自动关闭
                });
            });
            return false;
        });
    });

    // function getParentValue(obj) {
    //     data = obj;
    //     updateSelect();
    // }


</script>

</body>